

 <% if user_signed_in? %>
<h1> Welcome <%=current_user.email %> </h1>
<%end%>


    <% if !user_signed_in? %>
    <a href="/users/sign_in">Log In</a>
    <a href="/users/sign_up">Sign Up</a>
    <%else%>
     <a href="/chatrooms">Chatrooms</a>
    <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
    <%end%>



